<section class="no-padding jumbotron text-center"  id="connect">
  <div class="container no-padding">

    <div class="row">
      <div class="col-lg-12  text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>

        <div *ngIf="connected" class="alert alert-success box-msg" role="alert">
          <strong>Thank you!</strong> We would love to get in touch with you and get your story featured on our podcast.
        </div>

        <div *ngIf="!connected">
          <form id="contact" (ngSubmit)="onContact(c)" #c="ngForm">
            <fieldset>
              <input placeholder="Your name" type="text" id="contname" ngModel name="contname" tabindex="1" required>
            </fieldset>
            <fieldset>
              <input placeholder="Your Email Address" id="contemail" ngModel name="contemail" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
              <input placeholder="Your Phone Number (optional)" id="contphone" ngModel name="contphone" type="tel" tabindex="3" required>
            </fieldset>
            <fieldset>
              <textarea placeholder="Type your message here...." tabindex="5" id="contmessage" ngModel name="contmessage" required></textarea>
            </fieldset>
            <fieldset>
              <button name="submit" type="submit" id="contact-submit">Submit</button>
            </fieldset>
          </form>

        </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12  text-center">
        <i class="fa fa-address-card fa-3x sr-contact"></i>
        <div>
          <p>Illuminate Stories, Farmington Hills, Michigan, USA-48331. </p>
          <i class="fa fa-phone"> </i> 248-890-3022
        </div>
        <div class="fa fa-envelope"> <a class="mail" href="mailto:rishabh.parekh00@gmail.com"> rishabh.parekh00@gmail.com </a> </div>
      </div>
    </div>
  </div>
</section>
