
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.shop-inner > .item > img {
  height: 300px;
  width: 440px;
}

.item .item-title .item-quote {
  font-family: 'Sterling Display 3r','Sterling Display A','Sterling Display B',serif;
  font-weight: 300;
  font-style: normal;
  line-height: 34px;
}

.item-quote {
  padding-top: 50px;
  padding-bottom: 100px;
  font-weight: 150;
  font-style: italic;
}

.author {
  text-transform:uppercase;
  font-style: bold;
}
.item-price {
  font-family: "Sterling SSm A", "Sterling SSm B", serif;
  text-transform:uppercase;
  line-height:48px

}
