<header id="home" class="cmp">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">What is your story?</h1>
      <hr>
      <p>Everyone has a story to share. Sometimes in society, people lose their voices in the daily hustle. We shine light & empower these lost voices to speak.
      </p>
      <p>
        Iluminate Voices is a platform to share your story.
      </p>
      <div>
        <a href="#connect" class="btn btn-primary btn-xl page-scroll">Share your story</a>
        <a href="#stories" class="btn btn-primary btn-xl page-scroll">Listen to Stories</a>
        </div>
    </div>
  </div>
</header>

<!--div class="jumbotron text-center">
  <div class="container">
    <h1>Property Listings</h1>
    <p>Access the hottest properties available</p>
    <a (click)="login()"><img src="assets/img/google.png"></a>
  </div></div-->
