<section class="no-padding jumbotron text-center" id="stories">
  <div class="container-fluid">
      <div class="page-grid">
          <a ng-hide="device==='android'" href="https://play.google.com/music/m/Ifgm77kd4scuzakbvy57zursbcq?t=Illuminate_Stories" class="">
              <img ng-src="assets/img/google-play.svg" src="assets/img/google-play.svg">
          </a>
          <a ng-hide="device==='iphone'" href="https://itunes.apple.com/us/podcast/illuminate-stories/id1286572865?mt=2" class="">
              <img ng-src="assets/img/itunes.svg" src="assets/img/itunes.svg">
          </a>
      </div>
    <app-feed-card *ngFor="let feed of feeds" [feed]="feed" ></app-feed-card>

  </div>


</section>
