
.page-grid a img {
  height: 35px;
}

.page-grid a {
  height: 150px;
  margin: 3px;
}
.page-grid {
    margin: 0 auto;
    font-size: 0;
    display: block;
    flex: 1 0 0;
    max-width: 946px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
