<div class="card-feed-entry">
  <div class="col-xs-4" >
    <img width=60% [src]="feed.thumbnail" class="img-responsive" alt="">
  </div>
  <div class="col-xs-8" >
    <div class="episode-description">
      <div [innerHTML]="feed.description "></div>
    </div>
    <audio controls class="episode-audio">
      <source [src]="feed.link" type="audio/mpeg">
    </audio>
    <div class="episode-recorder">
      Recorded by: {{feed.author}} - On {{feed.pubDate | date:'MM-dd-yyyy'}}, Duration : {{feed.content}}
    </div>

  </div>


</div>
