<section class="no-padding jumbotron text-center" id="stories">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
  	 <div class="carousel">
       <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 gallery-item" *ngFor="let article of articles">
         <a href="#player" (click)="playAudio(article)" class="portfolio-box">
             <img [src]="article.imgURL" class="img-responsive" alt="">
             <div class="portfolio-box-caption">
                 <div class="portfolio-box-caption-content">
                     <div class="project-category text-faded">
                        {{article.title}}
                     </div>
                     <div class="project-name">
                       {{article.author}}
                     </div>
                 </div>
             </div>
         </a>
  	    </div>
      </div>
    </div>

</div>
<div class="container-fluid" id="listen">
  <div class="row">
      <div class="col-lg-12 text-center title">
          <h2 class="section-heading">Listen to your stories</h2>
          <hr class="primary">
      </div>
  </div>
  <div class="col-lg-6">
    <div id="player" class="player-container">
        <p>
          <iframe [src]="audioURL" height="315px" width="600px" frameborder="0" scrolling="no"></iframe>
        </p>
    </div>
  </div>
  <div class="col-lg-6">
    <div id="quote" class="item-quote text-center">
      <span>
        "{{selectedArticle.shortStory}}"
      </span>
    </div>
    <div id="quote" class="item-quote text-center">
      <span class="text-center author">
        {{selectedArticle.author}}
      </span>
    </div>
  </div>

</div>

</section>
